<footer>
    <div>
        <ul>
            {{#each extensionFooters as |extensionFooter|}}
                <li>
                    {{#if extensionFooter.svgName}}
                        <a href="{{extensionFooter.url}}" target="{{extensionFooter.target}}">
                            <svg height="16px" width="16px" title="{{extensionFooter.text}}" viewBox="0 0 512 512">
                                <use xlink:href="#{{extensionFooter.svgName}}"></use>
                            </svg>
                            <span>{{extensionFooter.text}}</span>
                        </a>
                    {{else}}
                        <a href="{{extensionFooter.url}}" target="{{extensionFooter.target}}">{{extensionFooter.text}}</a>
                    {{/if}}
                </li>
            {{/each}}
        </ul>
    </div>
    <div>
        <a href="#content-anchor">Nach oben</a>
    </div>
</footer>
