
{{#if data-category}}
    <fieldset data-category-wanted="{{data-category}}" class="hidden">
{{else}}
    <fieldset>
{{/if}}

    {{#if legend}}
        <legend><strong>{{legend}}</strong></legend>
    {{/if}}
    <div class="multiselect-wrapper">

        {{#if name}}
            <p class="filter-label">{{name}}</p>
        {{/if}}

        {{#if filter}}
            <label for="filter-{{identifier}}" class="visible-hidden">Auswahl von {{legend}} filtern</label>
            <input type="text" id="filter-{{identifier}}" class="filter" placeholder="Auswahl filtern..">
        {{/if}}

        <div class="multiselect-chips">
            {{#each entries as |entry|}}
                <input type="checkbox" name={{identifier}} value="{{entry.first}}" id="{{identifier}}-{{entry.third}}"
                       aria-checked="false" aria-labelledby="{{identifier}}-{{entry.third}}-chip {{identifier}}-{{entry.third}}-label">
                <label for="{{identifier}}-{{entry.third}}" id="{{identifier}}-{{entry.third}}-chip" class="chips toggleFilterLabels" style="position:absolute;">
                    {{entry.second}}
                </label>
            {{/each}}
        </div>
        <div class="multiselect-labels">
            <ul id="ul-{{identifier}}">
                {{#each entries as |entry|}}
                    <li>
                        <label for="{{identifier}}-{{entry.third}}" id="{{identifier}}-{{entry.third}}-label" class="toggleFilterLabels" style="position:relative;">
                            {{entry.second}}
                        </label>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
</fieldset>