
{{#if data-category}}
    <fieldset data-category-wanted="{{data-category}}" class="hidden">
{{else}}
    <fieldset>
{{/if}}

    {{#if legend}}
        <legend><strong>{{legend}}</strong></legend>
    {{/if}}
    <div class="multiselect-wrapper">
        {{#if name}}
            <label class="filter-label">{{name}}</label>
        {{/if}}
        <div class="multiselect-chips">
            {{#each entries as |entry|}}
                <input type="checkbox" name={{identifier}} value="{{entry.first}}" id="{{identifier}}-{{entry.first}}" aria-checked="false">
                <label for="{{identifier}}-{{entry.first}}" class="chips toggleFilterLabels" style="display:none;">
                    {{entry.second}}
                </label>
            {{/each}}
        </div>
        <div class="multiselect-labels">
            <ul>
                {{#each entries as |entry|}}
                    <li>
                        <label for="{{identifier}}-{{entry.first}}" class="toggleFilterLabels" style="display:inline-block;">
                            {{entry.second}}
                        </label>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
</fieldset>