<div class="event">
        <div class="event-image {{#if event.category}}event-image-{{event.category}}{{/if}}">
            {{#if event.pictureUrl}}
                <img src="/picture?url={{event.pictureUrl}}" style="height:100px;max-height:250px;max-width:300px;" />
            {{else}}
                <svg title="Event Bild" viewBox="0 0 512 512" height="100px" >
                    <use xlink:href="#{{#if event.category}}{{event.category}}{{else}}image{{/if}}"></use>
                </svg>
            {{/if}}
            {{#if event.url}}
                <a class="anchor-to-eventpage" href="{{event.url}}" target="_blank" aria-describedby="Zur Eventseite von {{event.name}} (neues Fenster wird geöffnet)">
                    Zur Eventseite
                </a>
            {{/if}}

            {{#if event.accessibilityProperties}}
                <div class="accessibility-details">
                    <svg height="24px" width="24px" viewBox="0 0 122.88 122.88">
                        <title>{{event.accessibilityProperties}}</title>
                        <use xlink:href="#accessibility"></use>
                    </svg>
                </div>
            {{/if}}
        </div>
        
        <div class="event-description">
            <p class="event-title" title="{{event.name}}">
                {{event.name}}
            </p>
          
            <div class="event-details-wrapper">
                <div class="event-details">
                    <svg height="24px" width="24px" title="Datum Logo" viewBox="0 0 512 512" >
                        <use xlink:href="#time"></use>  
                    </svg>
                    <p>{{event.startDate}}</p>
                </div>
                {{#if event.locationName}}
                <div class="event-details">
                    <svg height="24px" width="24px" title="Ort Logo" viewBox="0 0 512 512" >
                        <use xlink:href="#location"></use>  
                    </svg>
                    <p>{{event.locationName}}{{#if event.city}}, {{event.city}} {{/if}} </p>
                </div>
                {{/if}}
            </div>
        </div>
</div>