<div class="event">
    <div class="event-image {{#if event.category}}event-image-{{event.category}}{{/if}}">
        {{#if event.pictureUuid}}
            <img src="/picture?uuid={{event.pictureUuid}}"
                style="height:100px;max-height:250px;max-width:300px;"
                alt="{{#if event.pictureAltText}}{{event.pictureAltText}}{{else}}Event Bild{{/if}}"
                aria-label="Event Bild"
                aria-labelledby="image"
            />
        {{else}}
            <svg title="Event Bild" viewBox="0 0 512 512" height="100px" >
                <use xlink:href="#{{#if event.category}}{{event.category}}{{else}}image{{/if}}"></use>
            </svg>
        {{/if}}
        <button class="anchor-to-event">
            Weitere Einzelheiten
        </button>

        {{#if event.accessibilityProperties}}
            <div class="accessibility-details">
                <svg height="24px" width="24px" viewBox="0 0 122.88 122.88">
                    <title>{{event.accessibilityProperties}}</title>
                    <use xlink:href="#accessibility"></use>
                </svg>
            </div>
        {{/if}}
    </div>

    <div class="event-description">
        <p class="event-title" title="{{event.name}}">
            {{event.name}}
        </p>
        <div class="event-details-wrapper">
            <div class="event-details">
                <svg height="24px" width="24px" title="Datum Logo" viewBox="0 0 512 512" >
                    <use xlink:href="#time"></use>
                </svg>
                <p>{{event.startDate}}</p>
            </div>
            {{#if event.locationName}}
                <div class="event-details">
                    <svg height="24px" width="24px" title="Ort Logo" viewBox="0 0 512 512" >
                        <use xlink:href="#location"></use>
                    </svg>
                    <p>{{event.locationName}}{{#if event.city}}, {{event.city}} {{/if}} </p>
                </div>
            {{/if}}
        </div>
    </div>

    <div id="event-details-modal" class="modal" style="display: none">
        <div class="modal-content">
            <button class="modal-close-button">
                <svg height="32px" width="32px" viewBox="0 0 512 512">
                    <use xlink:href="#close"></use>
                </svg>
            </button>

            <div class="modal-flex-container {{#if event.category}}event-modal-{{event.category}}{{/if}}">
                <div class="modal-column" style="padding-bottom: 1rem;">
                    <h2>{{event.name}}</h2>

                    {{#each event.tag}}
                        <a class="event-modal-tag">{{this}}</a>
                    {{/each}}
                </div>
                <div class="modal-row" style="gap: 2rem;">
                    <div class="modal-column">
                        <div class="event-image-modal">
                            {{#if event.pictureUuid}}
                                <img src="/picture?uuid={{event.pictureUuid}}"
                                style="height:100px;max-height:250px;max-width:300px;"
                                alt="{{#if event.pictureAltText}}{{event.pictureAltText}}{{else}}Event Bild{{/if}}"
                                aria-label="Event Bild"
                                aria-labelledby="image"
                                />
                            {{else}}
                                <svg title="Event Bild" viewBox="0 0 512 512" height="100px" >
                                    <use xlink:href="#{{#if event.category}}{{event.category}}{{else}}image{{/if}}"></use>
                                </svg>
                            {{/if}}
                        </div>
                    </div>
                    <div class="modal-column" style="width: -webkit-fill-available;">
                        <div class="event-details-wrapper" style="gap: 16px; height: 100%; justify-content: space-between;">
                            <div class="modal-column" style="gap: 12px;">
                                <div class="event-details">
                                    <svg height="24px" width="24px" title="Datum Logo" viewBox="0 0 512 512" >
                                        <use xlink:href="#time"></use>
                                    </svg>
                                    <p>{{event.startDate}}</p>
                                </div>
                                {{#if event.locationName}}
                                    <div class="event-details">
                                        <svg height="24px" width="24px" title="Ort Logo" viewBox="0 0 512 512" >
                                            <use xlink:href="#location"></use>
                                        </svg>
                                        <p>{{event.locationName}}{{#if event.city}}, {{event.city}} {{/if}} </p>
                                    </div>
                                {{/if}}
                                {{#if event.category}}
                                    <div class="event-details">
                                        <svg height="24px" width="24px" title="Datum Logo" viewBox="0 0 512 512" >
                                            <use xlink:href="#category"></use>
                                        </svg>
                                        <p>{{event.category}}</p>
                                    </div>
                                {{/if}}
                            </div>


                            <a class="anchor-to-eventmodal" href="{{event.url}}" target="_blank" aria-describedby="Zur Eventseite von {{event.name}} (neues Fenster wird geöffnet)">
                                Zur Eventseite
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div id="modal-tabs" style="background-color: white; padding: 2rem;">
                <div class="tab-container">
                    <div id="tab1" class="tab-content active">
                        {{event.description}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
