<div class="event">
    <div class="event-image {{#if event.category}}event-image-{{event.category}}{{/if}}">
        {{#if event.pictureUuid}}
            <img src="/picture?uuid={{event.pictureUuid}}" alt="{{#if event.pictureAltText}}{{event.pictureAltText}}{{else}}Event Bild{{/if}}" aria-label="Event Bild" aria-labelledby="image" />
        {{else}}
            <svg title="Event Bild" viewBox="0 0 512 512" height="100px" aria-label="Standard Event Bild">
                <use xlink:href="#{{#if event.category}}{{event.category}}{{else}}image{{/if}}"></use>
            </svg>
        {{/if}}
        <button class="anchor-to-event">
            Mehr Informationen
        </button>

        {{#if event.accessibilityProperties}}
            <div class="accessibility-details">
                <svg height="24px" width="24px" viewBox="0 0 512 512" aria-label="Informationen zur Barrierefreitheit des Events sind verfügbar">
                    <title>{{#each event.accessibilityProperties}}{{#if @last}}{{this}}{{else}}{{this}}, {{/if}}{{/each}}</title>
                    <use xlink:href="#accessibility"></use>
                </svg>
            </div>
        {{/if}}
    </div>

    <div class="event-description">
        <p class="event-title" title="{{event.name}}">
            {{event.name}}
        </p>
        <div class="event-details-wrapper">
            <div class="event-details">
                <svg height="24px" width="24px" title="Datum Logo" viewBox="0 0 512 512" aria-label="Startzeit des Events">
                    <use xlink:href="#time"></use>
                </svg>
                <p>{{event.startDate}}</p>
            </div>
            {{#if event.locationName}}
                <div class="event-details">
                    <svg height="24px" width="24px" title="Ort Logo" viewBox="0 0 512 512" aria-label="Ort des Events">
                        <use xlink:href="#location"></use>
                    </svg>
                    <p>{{event.locationName}}{{#if event.city}}, {{event.city}} {{/if}} </p>
                </div>
            {{/if}}
        </div>
    </div>

    <div class="modal-content" style="display: none">
        <button class="modal-close">
            <svg height="32px" width="32px" viewBox="0 0 512 512" aria-label="Schließe Eventdetails">
                <use xlink:href="#close"></use>
            </svg>
        </button>

        <div class="modal-flex {{#if event.category}}event-modal-{{event.category}}{{/if}}">
            <div class="modal-column">
                <h2>{{event.name}}</h2>
            </div>
            <div class="modal-row-image">
                <div class="modal-column">
                    <div class="event-image-modal {{#if event.category}}event-image-modal-{{event.category}}{{/if}}">
                        {{#if event.pictureUuid}}
                            <img src="/picture?uuid={{event.pictureUuid}}"
                            alt="{{#if event.pictureAltText}}{{event.pictureAltText}}{{else}}Event Bild{{/if}}"
                            aria-label="Event Bild"
                            aria-labelledby="image"
                            />
                        {{else}}
                            <svg title="Event Bild" viewBox="0 0 512 512" height="100px" aria-label="Event Bild">
                                <use xlink:href="#{{#if event.category}}{{event.category}}{{else}}image{{/if}}"></use>
                            </svg>
                        {{/if}}
                    </div>
                </div>
                <div class="modal-column">
                    <div class="event-details-wrapper">
                        <div class="modal-column">
                            <div class="event-details">
                                <svg height="24px" width="24px" title="Datum Logo" viewBox="0 0 512 512" aria-label="Startzeit des Events">
                                    <use xlink:href="#time"></use>
                                </svg>
                                <p>{{event.startDate}}</p>
                            </div>
                            {{#if event.locationName}}
                                <div class="event-details">
                                    <svg height="24px" width="24px" title="Ort Logo" viewBox="0 0 512 512" aria-label="Ort des Events">
                                        <use xlink:href="#location"></use>
                                    </svg>
                                    <p>{{event.locationName}}{{#if event.city}}, {{event.city}} {{/if}} </p>
                                </div>
                            {{/if}}
                            {{#if event.category}}
                                <div class="event-details">
                                    <svg height="24px" width="24px" title="Kategorie Logo" viewBox="0 0 512 512" aria-label="Kategorie des Events">
                                        <use xlink:href="#category"></use>
                                    </svg>
                                    <!--TODO we need to have two properties here, one for logos, one for displaying-->
                                    <p>{{event.category}}</p>
                                </div>
                            {{/if}}

                            {{#if event.accessibilityProperties}}
                                <div class="event-details">
                                    <svg height="24px" width="24px" title="Barrierefreiheit Logo" viewBox="0 0 512 512" aria-label="Details zur Barrierefreiheit des Events">
                                        <use xlink:href="#accessibility"></use>
                                    </svg>
                                    <div class="event-modal-chips">
                                        {{#each event.accessibilityProperties}}
                                            <span class="event-modal-chip event-modal-chip-{{event.category}}">{{this}}</span>
                                        {{/each}}
                                    </div>
                                </div>
                            {{/if}}

                            {{#if event.tags}}
                                <div class="event-details">
                                    <svg height="24px" width="24px" title="Tags Logo" viewBox="0 0 512 512" aria-label="Schlagwörter zum Event">
                                        <use xlink:href="#tags"></use>
                                    </svg>
                                    <div class="event-modal-chips">
                                        {{#each event.tags}}
                                            <span class="event-modal-chip event-modal-chip-{{event.category}}">{{this}}</span>
                                        {{/each}}
                                    </div>
                                </div>
                            {{/if}}
                        </div>

                        {{#if event.url}}
                            <a class="anchor-to-eventmodal" href="{{event.url}}" target="_blank" data-modal-last-focusable-element aria-describedby="Zur Eventseite von {{event.name}} (neues Fenster wird geöffnet)">
                                Zur Eventseite
                            </a>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>

        {{#if event.description}}
            <div class="modal-tabs">
                <section class="details-box">
                    <ul>
                        <li><a href="#" class="active-tab {{#if event.category}}event-modal-{{event.category}}{{/if}}">Description</a></li>
                    </ul>
                    <div class="panels">
                        <article class="active-panel {{#if event.category}}event-modal-{{event.category}}{{/if}}">
                            <p>{{> events/renderProperty property=event.description }}</p>
                        </article>
                    </div>
                </section>
            </div>
        {{/if}}
    </div>
</div>
