<div class="event">
        <div class="event-image {{#if event.type}}event-image-{{event.type}}{{/if}}">
            {{#if event.pictureUrl}}
                <img src="{{event.pictureUrl}}" height="100px" />
            {{else}}
                <svg title="Event Bild" viewBox="0 0 512 512" height="100px" >
                    <use xlink:href="#{{#if event.type}}{{event.type}}{{else}}image{{/if}}"></use>
                </svg>
            {{/if}}
            {{#if event.url}}
                <a class="anchor-to-eventpage" href="{{event.url}}" target="_blank" aria-describedby="Zur Eventseite von {{event.name}} (neues Fenster wird geöffnet)">
                    Zur Eventseite
                </a>
            {{/if}}
        </div>
        
        <div class="event-description">
            <p class="event-title">
                {{event.name}}
            </p>
          
            <div class="event-details-wrapper">
                <div class="event-details">
                    <svg height="24px" width="24px" title="Datum Logo" viewBox="0 0 512 512" >
                        <use xlink:href="#time"></use>  
                    </svg>
                    <p>{{event.startDate}}</p>
                </div>
                <div class="event-details">
                    <svg height="24px" width="24px" title="Ort Logo" viewBox="0 0 512 512" >
                        <use xlink:href="#location"></use>  
                    </svg>
                    <p>{{event.locationName}}{{#if event.city}}, {{event.city}} {{/if}} </p>
                </div>
            </div>
        </div>
</div>